JIRA_URL_CONFIG=traefik.frontend.rule=Host:ccw.naturalis.nl
JIRA_DB_PASSWORD=blablabla
JVM_MINIMUM_MEMORY=2048m
JVM_MAXIMUM_MEMORY=4096m
JIRA_PROXY_NAME=
JIRA_PROXY_PORT=
JIRA_PROXY_SCHEME=
BASE_PATH=/data
POSTGRES_USER=jira
POSTGRES_PASSWORD=blablabla
POSTGRES_DB=jiradb
POSTGRES_ENCODING=UNICODE
POSTGRES_COLLATE=C
POSTGRES_COLLATE_TYPE=C
